body {
    margin: 0px;
}

.header {
    display: flex;
    width: 1440px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.header :first-child {
    width: 50px;
}

.header :nth-child(2) {
    width: 1230px;
}

.header :last-child {
    width: 13px;
    height: 27px;
    align-self: center;
    margin-right: 20px;
}

.main-section {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    width: 1440px;
}

.tools-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 266px;
}

.tool {
    height: 240px;    
    border: 2px solid #e5e5e5;
    font-family: Roboto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.541327);    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    display: block;
    margin: 40px 0px 0px 40px;   
    line-height: 58px;
    list-style: none;
    padding: 0px;
}

.tool :hover {
    background-color: rgb(228, 227, 227);
}

.tool__bucket {
    background: url(./asets/icons/paintbucket.png) no-repeat 43px 16px;
    padding-left: 81px;
}

.tool__choose {
    background: url(./asets/icons/choosecolor.png) no-repeat 43px 16px;
    padding-left: 81px;
}

.tool__pencil {
    background: url(./asets/icons/pensil.png) no-repeat 43px 16px;
    padding-left: 81px;
}

.tool__transform {
    background: url(./asets/icons/transform.png) no-repeat 43px 16px;
    padding-left: 81px;
}

.tool__prev {
    border-bottom: 1px solid #e5e5e5;
}

.tool__current ::before {
    display: inline-block;
    background-color: green;
    content: "";
    margin: 0px 20px -5px 39px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.tool__prev ::before{
    display: inline-block;
    background-color: orange;
    content: "";
    margin: 0px 20px -5px 40px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.tool__red ::before{
    display: inline-block;
    background-color: red;
    content: "";
    margin: 0px 20px -5px 40px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.tool__blue ::before{
    display: inline-block;
    background-color: blue;
    content: "";
    margin: 0px 20px -5px 39px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

#canvas {
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    background-color: gray;
    border: 1px solid gray;
    align-self: flex-end;
}

.draw {
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 210px;    
    border: 2px solid #e5e5e5;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    margin: 41px 113px 0px 0px;
}

.draw__button {
    font-family: Roboto;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.541327);
    width: 140px;
    height: 65px;  
    margin: 2px 0px 3px 7px; 
}

